*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: blue;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 50%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    *align-items: center;
}

.container a{
    border: 1px solid #fff;
    margin: 15px;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s;
    height: 50px;
}

.container a:nth-child(1){
    color: #fff;
    background-color: green;
}

.container a:nth-child(2){
    color: green;
}

.container a:nth-child(1):hover{
    color: green;
    background: blue;
}

.container a:nth-child(2):hover{
    color: #fff;
    background: green;
}

.plano{  
    width: 50%;
    height: 100vh;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    background-color: white;
    margin: 40px;
}

#instrucciones{
    background: rgba(0, 0, 0, .5);
    background-attachment: fixed;
    padding: 50px;
    margin: 20px 0 0 0;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 30px;
}

.logo img {
    margin-top: 15px;
}

#instrucciones p, #instrucciones h4{
    font-family: sans-serif;
    color: #fff;
}

#instrucciones h4{
    font-size: 30px;
    margin-bottom: 20px;
    *text-transform: uppercase;
}